@font-face {
    font-family: "FangYuanTi";
    src: url("Candy.eot"); /* IE9 */
    src: url("Candy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Candy.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("Candy.woff") format("woff"), /* chrome, firefox */
    url("Candy.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Candy.svg#FangYuanTi") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


